<div class="modal fade" id="add-podcast-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add podcast</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="searchPodcast()" class="form">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" placeholder="Podcast URL" class="form-control" ng-model="podcast.url">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" name="button" class="btn btn-default btn-block">Add podcast</button>
                        </div>
                    </div>
                </form>
                <div ng-if="podcasts.length > 0">
                    <h4>Results</h4>
                    <article class="podcast-card col-md-12" ng-repeat="podcast in podcasts">
                        <div class="image">
                            <img ng-src="{{podcast.image}}" alt="{{podcast.title}}" />
                        </div>
                        <div class="content">
                            <span class="title" ng-bind="podcast.title"></span>
                            <span class="description" ng-bind="podcast.description"></span>
                            <a ng-href="{{podcast.site_url}}" target="_blank">Site</a>
                            <a ng-href="" target="_blank">Bookmark</a>
                        </div>
                    </article>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
