<div class="row">
    <form class="form" ng-submit="searchPodcasts()">
        <div class="input-field col s12">
            <input type="text" id="homeSearch" ng-model="params.title">
            <label for="homeSearch">Podcast Name</label>
            <button type="submit" class="btn blue waves-effect waves-light">Search</button>
        </div>
    </form>
    <span ng-repeat="podcast in podcasts" ng-include="'src/shared/views/podcast-card.html'"></span>
    <div ng-if="podcasts.length == 0">
        <h5>Podcast not found.</h5>
        <p>
            You can add a new podcast, please enter with the podcast feed URL in the field bellow.
        </p>
        <form class="form" ng-submit="createFromFeed()">
            <div class="input-field col s12">
                <input type="url" id="homeAdd" ng-model="feed.link">
                <label for="homeAdd">Podcast feed</label>
                <button type="submit" class="btn blue waves-effect waves-light"><i class="fa fa-plus-circle"></i> Add podcast</button>
            </div>
        </form>
    </div>
</div>
