<div class="row">
    <div class="col s4 offset-s3">
        <h4 class="center">Podcastor</h4>
        <form method="post" ng-submit="login()" autocorrect="off" class="form">
            <div class="input-field col s12">
                <input required type="email" id="email" name="email" ng-model="authentication.email">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input required type="password" id="password" name="password" ng-model="authentication.password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <button type="submit" class="btn blue waves-effect waves-light">Login</button>
            </div>
        </form>
    </div>
</div>
